app/code/local/GSS/OrdersIntegration/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
      <complexType name="fieldInfo">
        <sequence>
          <element name="entity_id" type="xsd:string"/>
          <element name="name" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ordersArray">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderEntity[]" />
          </restriction>
        </complexContent>
      </complexType>
    </schema>
  </types>
  <message name="ordersIntegrationOrdergetOrdersRequest">
  	<part name="sessionId" type="xsd:string" />
    <part name="statuses" type="xsd:string" />
    <part name="fromDate" type="xsd:string" />
    <part name="toDate" type="xsd:string" />
    <part name="pageLimit" type="xsd:int" />
    <part name="page" type="xsd:int" />
  </message>
  <message name="ordersIntegrationOrdergetOrdersResponse">
    <part name="orders" type="typens:ordersArray" />
    <part name="total" type="xsd:int" />
  </message>
  <portType name="{{var wsdl.handler}}PortType">
    <operation name="ordersIntegrationOrdergetOrders">
      <documentation>List of orders</documentation>
      <input message="typens:ordersIntegrationOrdergetOrdersRequest" />
      <output message="typens:ordersIntegrationOrdergetOrdersResponse" />
    </operation>
  </portType>
  <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ordersIntegrationOrdergetOrders">
      <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
      <input>
        <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="{{var wsdl.name}}Service">
    <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
      <soap:address location="{{var wsdl.url}}" />
    </port>
  </service>
</definitions>