app/code/local/GSS/OrdersIntegration/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
      		<xsd:complexType name="fieldInfo">
        		<xsd:sequence>
          			<xsd:element name="entity_id" type="xsd:string"/>
       				<xsd:element name="name" type="xsd:string"/>
        		</xsd:sequence>
	      </xsd:complexType>
	      <xsd:complexType name="ordersArray">
	          <xsd:sequence>
	              <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:salesOrderEntity" />
	          </xsd:sequence>
	      </xsd:complexType>
	    </xsd:schema>
  	</wsdl:types>
	<wsdl:message name="ordersIntegrationOrdergetOrdersRequest">
		<wsdl:part name="sessionId" type="xsd:string" />
		<wsdl:part name="statuses" type="xsd:string" />
		<wsdl:part name="fromDate" type="xsd:string" />
		<wsdl:part name="toDate" type="xsd:string" />
    	<wsdl:part name="pageLimit" type="xsd:int" />
    	<wsdl:part name="page" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="ordersIntegrationOrdergetOrdersResponse">
		<wsdl:part name="orders" type="typens:ordersArray" />
		<wsdl:part name="total" type="xsd:int" />
	</wsdl:message>
	<wsdl:portType name="{{var wsdl.handler}}PortType">
	  <wsdl:operation name="ordersIntegrationOrdergetOrders">
	    <wsdl:documentation>List of orders</documentation>
	    <wsdl:input message="typens:ordersIntegrationOrdergetOrdersRequest" />
	    <wsdl:output message="typens:ordersIntegrationOrdergetOrdersResponse" />
	  </wsdl:operation>
	</wsdl:portType>
  <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ordersIntegrationOrdergetOrders">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>